<div class="container mt-5 justify-content-center">
    <div class="row justify-content-center">
        <div class="card text-center">
            <div class="card-header text-light">
                Login
            </div>
            <div class="card-body p-3">
                <form (ngSubmit)="OnLogin()" #myLoginForm="ngForm">
                    <div class="form-row">
                        <div class="form-group mb-3">
                            <label class="text-light" for="username">Username:</label>
                            <input type="text" class="form-control" id="username" pattern="[a-zA-Z ]+" minlength="3"
                            name="username" #username="ngModel" [(ngModel)]="loginData$.username" placeholder="Enter your username" required>
                            <div *ngIf="myLoginForm.controls['username']?.invalid && myLoginForm.controls['username']?.dirty || myLoginForm.controls['username']?.touched">
                                <span *ngIf="myLoginForm.controls['username'].hasError('required')" style="color: aliceblue;">Username is required</span>
                                <span *ngIf="myLoginForm.controls['username'].hasError('minlength')" style="color:red;">Username should be minimum 3 characters</span>
                                <span *ngIf="myLoginForm.controls['username'].hasError('pattern')" style="color: red;">Username should contain A-Z or a-z characters</span>
                            </div>
                        </div>
                        <div class="form-group  mb-3">
                            <label class="text-light" for="password">Password:</label>
                            <input type="password" class="form-control" id="password" pattern="[a-zA-Z ]+" minlength="6" required
                            name="password" #password="ngModel" [(ngModel)]="loginData$.password" placeholder="Enter your password">
                            <div *ngIf="myLoginForm.controls['password']?.invalid && myLoginForm.controls['password']?.dirty || myLoginForm.controls['password']?.touched">
                                <span *ngIf="myLoginForm.controls['password'].hasError('required')" style="color: aliceblue;">Password is required</span>
                                <span *ngIf="myLoginForm.controls['password'].hasError('minlength')" style="color:red;">Password should be minimum 6 characters</span>
                                <span *ngIf="myLoginForm.controls['password'].hasError('pattern')" style="color: red;">Password should contain A-Z or a-z characters</span>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-light" for="role">Select Your Role:</label>
                            <select class="form-control" id="role" name="role" #role="ngModel" [(ngModel)]="loginData$.role" required>
                                <option value="teacher">Teacher</option>
                                <option value="student">Student</option>
                                <option value="admin">Admin</option>
                            </select>
                            <div *ngIf="myLoginForm.controls['role']?.invalid && myLoginForm.controls['role']?.dirty || myLoginForm.controls['role']?.touched">
                                <span *ngIf="myLoginForm.controls['role'].hasError('required')" style="color: aliceblue;">Role must be selected</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" [disabled]="myLoginForm.invalid" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>